client/node_modules/
client/static/sw.js
client/.next
client/out
client/*-error.log
client/yarn.lock

node-server/node_modules/
node-server/package-lock.json

go-server/go.sum
go-server/api/config.secret.json
